<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rj.springcloud.user.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.rj.springcloud.user.entity.UserInfo">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="card_id" property="cardId" />
        <result column="real_name" property="realName" />
        <result column="sex" property="sex" />
        <result column="address" property="address" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="oprator" property="oprator" />
        <result column="operator_name" property="operatorName" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="photo" property="photo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="base_Column_List">
        id, username, password, nickname, card_id, real_name, sex, address, phone, email, oprator, operator_name, status, create_time, update_time, photo
    </sql>

    <!-- 通用查询条件列 -->
    <sql id="base_query_condition">
        <if test="obj.username != null and obj.username != ''">
            and username = obj.username}
        </if>
        <if test="obj.password != null and obj.password != ''">
            and password = obj.password}
        </if>
        <if test="obj.nickname != null and obj.nickname != ''">
            and nickname = obj.nickname}
        </if>
        <if test="obj.cardId != null and obj.cardId != ''">
            and card_id = obj.cardId}
        </if>
        <if test="obj.realName != null and obj.realName != ''">
            and real_name = obj.realName}
        </if>
        <if test="obj.sex != null and obj.sex != ''">
            and sex = obj.sex}
        </if>
        <if test="obj.address != null and obj.address != ''">
            and address = obj.address}
        </if>
        <if test="obj.phone != null and obj.phone != ''">
            and phone = obj.phone}
        </if>
        <if test="obj.email != null and obj.email != ''">
            and email = obj.email}
        </if>
        <if test="obj.oprator != null and obj.oprator != ''">
            and oprator = obj.oprator}
        </if>
        <if test="obj.operatorName != null and obj.operatorName != ''">
            and operator_name = obj.operatorName}
        </if>
        <if test="obj.status != null and obj.status != ''">
            and status = obj.status}
        </if>
        <if test="obj.createTime != null and obj.createTime != ''">
            and create_time = obj.createTime}
        </if>
        <if test="obj.updateTime != null and obj.updateTime != ''">
            and update_time = obj.updateTime}
        </if>
        <if test="obj.photo != null and obj.photo != ''">
            and photo = obj.photo}
        </if>
    </sql>

    <select id="selectPageByCondition" resultMap="baseResultMap">
        select
        <include refid="base_Column_List"></include>
        from user_info
        <where><include refid="base_query_condition"></include>
        </where>
    </select>
</mapper>