<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rj.springcloud.dao.TestMapper">
    <resultMap id="baseResultMap" type="com.rj.springcloud.bean.TestInfo">
        <id column="id" property="id" />
        <result column="username" property="username"></result>
        <result column="oper_time" property="operTime"></result>
    </resultMap>

    <sql id="columns">
        id,username,oper_time
    </sql>

    <sql id="query_condition">
        <if test="id != null and id !=''">
            and id = #{id}
        </if>
        <if test="username != null and username !=''">
            and username = #{username}
        </if>
        <if test="operTime != null and operTime !=''">
            and oper_time = #{operTime}
        </if>
    </sql>

    <insert id="insert" parameterType="com.rj.springcloud.bean.TestInfo" useGeneratedKeys="true" keyProperty="id">
        insert into t_test
         (
            username,
            oper_time
         ) value (
            #{username},
            #{operTime}
        )
    </insert>

    <select id="findByCondition" parameterType="com.rj.springcloud.bean.TestInfo" resultMap="baseResultMap">
        select
        <include refid="columns"></include>
        from t_test
        <where>
            <include refid="query_condition"></include>
        </where>
        order by oper_time desc
    </select>
    <select id="selectPageVo" resultMap="baseResultMap">
        select
        <include refid="columns"></include>
        from t_test
    </select>

</mapper>